
.dashboard-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.dashboard-from-and-results {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Form */

.dashboard-form {
    width: 35%;
    height: 65vh;
    padding-top: 10px;
}

.dashboard-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Results */

.dashboard-results {
    width: 55%;
    height: 65vh;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 1000px) {
    .dashboard-from-and-results {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .dashboard-form {
        width: 90%;
        height: 50vh;
    }
    .dashboard-results {
        width: 90%;
        height: auto;
        margin-top: 20px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard-from-and-results {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .dashboard-form {
        width: 90%;
        height: 50vh;
    }
    .dashboard-results {
        width: 90%;
        height: auto;
        margin-top: 20px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
