/* Home */
.home {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home-left {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
}

.home-right {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
}

.header-image {
    width: 100%;
    height: auto;
}

/* Animations */
.animate__animated {
    animation-duration: 1s;
}

.animate__fadeInLeft {
    animation-name: fadeInLeft;
}

.animate__fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 750px) {
    .home {
        flex-direction: column;
    }
    .home-left {
        margin-top: 20px;
        width: 90%;
    }
    
    .home-right {
        width: 90%;
    }
    .second-box {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
    }
    .home-left {
        width: 90%;
        margin-top: 20px;
    }
    
    .home-right {
        width: 90%;
    }
    .second-box {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .home {
        flex-direction: column;
    }
    .home-left {
        margin-top: 20px;
        width: 90%;
    }
    
    .home-right {
        width: 90%;
    }
    .second-box {
        display: none;
    }
}
